<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>

</head>
<body>
    <center>
    <table border="1"></table>
    <mark><h1>UPDATE YOUR POST</h1></mark>
    <form method="POST">
        <table border="2">
        <tr><th><label for="">title:</label></th>
        <td><input type="text" name="title" value="{{post[1]}}"></td>
        <br>
        </tr>
        <tr>
        <th><label for="">content:</label></th>
        <td><textarea name="content" rows="5">{{post[2]}}</textarea></td>
        <br>
        </tr>
        <tr>
        <th><label for="">slug:</label></th>
        <td><input type="text" name="slug" value="{{ post[4] }}"></td>
        <br>
        </tr>
        </table>
        <button style="background-color: lightblue;">Update post</button>


    </form>
        
        
</body>
</html>